/* Coloured boxes */
.chapsumm {
  background-color: rgb(247, 247, 225);
  padding: 10px;
}
.lookbox {
  background-color: rgb(247, 247, 225);
  padding: 10px;
}


/* Tables */
td {
  white-space: nowrap;
}
table {
  width: 90%;
  overflow-x: visible;
}

h5 {
  font-size: 1.5em;
}