/* Coloured boxes */
.chapsumm {
  background-color: rgb(247, 247, 225);
  padding: 10px;
}
.lookbox {
  background-color: rgb(247, 247, 225);
  padding: 10px;
}


/* Tables */
td {
  white-space: nowrap;
}
table {
  min-width: 55%;
  overflow-x: visible;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
h5 {
  font-size: 1.5em;
}

.chapsumm, .lookbox {
  background-color: rgb(247, 247, 225);
  padding: 10px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}