# Google Drive crap

*Icon*

# LaTeX intermediary files

*.aux
*.boc
*.idx
*.log
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.bbl
*.blg

# Separated references for later

*_References.bib

# Job posting

020210701_JobPost.pdf
